.button{
	-fx-background-color: #FFFFFF;
	-fx-border-color:#3498db;
	-fx-text-fill:#3498db;
}

.button:hover{
	-fx-background-color: #3498db;
	-fx-text-fill: #FFFFFF;
}

.muted-button{
	-fx-background-color: transparent;
	-fx-border-color:transparent;
	-fix-text-fill: #AAAAAA;
}

.muted-button:hover{
	-fx-background-color: #EEEEEE;
	-fx-text-fill: #000000;
}

.combo-box{
	-fx-background-color: #FFFFFF;
	-fx-border-color:#3498db;
	-fx-text-fill:#3498db;
}

.combo-box .list-cell {
	-fx-text-fill:#3498db;
}

.combo-box .combo-box-popup .list-cell:hover{
	-fx-text-fill:#FFF;
}

.combo-box .combo-box-popup .list-cell:selected{
	-fx-text-fill:#FFF;
}

.text-field{
	-fx-text-fill:#3498db;
}

.rounded{
	-fx-border-radius:2 2 2 2;
	-fx-background-radius:2 2 2 2;
}